*~
*.elc
.notes
.python-environments/
elpa/
eshell/
*.dat
recentf
example/
auto-save-list/
snippets/
bookmarks
irony/
url/
games/
cnfonts/
.lsp-session*
transient/
custom/
config.el
myinit.el
local-vars.local.el
custom.el
package-quickstart.el
amx-items
places
*.eld
*.cache
*.db
.org-id*
tramp
racket-mode/
eln-cache/
projects
tree-sitter
.codex/
.superpowers/
public/
mcp/config.json
