*~
.notes
.python-environments/
elpa/
eshell/
*.dat
recentf
mytestinit.org
example/
auto-save-list/
snippets/
bookmarks
irony/
url/
games/
cnfonts/
.lsp-session*
transient/
custom/
config.el
myinit.el